* {
    margin: 0;
    padding: 0 auto;
    
}


#cabecalho {
    width: 100%;
    height: 35%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 5px;

}

#CF {
    position: absolute;
    right: 1%;
}

.Menu {
    width: 100%;
    height: 70px;
    background-color: rgba(4, 4, 14, 0.966);
    display: flex;
    list-style: none;
    flex-direction: row;
    
}

.Menu nav {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0 auto;
    right: 0 auto;
    gap: 150px;
    list-style: none;
    margin-left: 25%;
    
}

.Menu nav li {
    color: white;
    font-size: 15px;
}

.Menu nav li:hover {
    color: rgb(119, 136, 153);
}

main {
    background-image: url(/);
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column-reverse;
    gap: -2px;
}



button {
    width: 250px;
    height: 50px;    
    background-color: #1175a4;
    margin-bottom: 55px;
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
}

button:hover {
    background-color: #1175a49c;
    color: white;
}

#btnBg {
    width: 100%;
    height: 145px;
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px ;
}

#alignNav {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 4px double;
    border-color:#1175a4 ;
    border-left: none;
    border-right: none;
    background-color: black;
}

#cornav {
    background-color: black;
}


#textBlack {
   background-color: black;
   height: 170px; 
   
  
}

#textBlack1 {
    background-color: black;
    height: 1000px; 
 }

#bg-black {
    background-color: black;
}

#noneborder {
    border: none;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 10px double;
    border-color: #1175a4;
    background-color: rgba(0, 0, 0, 0.753);
    
}

#btn5{
    width: 18%;
}

#hover:hover{
    color: rgb(16, 216, 247);
}


@media (max-width: 737px)  {
    
    #btn5 {
          display: none ;
    }

    #btn6 {
          display: none ;
    }

    #btnBaixar {
        display: none;
    }

    #btnBg button {
        width: 100%;
    }

    #img4 {
        width: 25%;
        
    }

    #img4pai {
        height: 120px;
    }

    #textBlack1 h1 {
     font-size:15px ; 
    }

    #textBlack1 h3 {
        font-size:15px ; 
       }
       
       

}
 