* {
    margin: 0;
    padding: 0;
    
}

#bg1 {
    background-image: url(/imagens/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% auto;
    height: 1000px;
     

}
#bg2 {
    background-image: url(/imagens/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% auto;
    height: 1000px;
    
}



#hover:hover{
    color: rgb(16, 216, 247);
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 10px double;
    border-color: #1175a4;
    background-color: rgba(0, 0, 0, 0);
    
}

#video {
   background-image: url(/imagens/video.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 590px;
   height: 350px;
   margin-top: 150px;
   display: flex;
    justify-content: center;
    align-items: center;
}


#video1 {
    background-image: url(/imagens/cold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 590px;
    height: 350px;
    margin-top: 150px;
    display: flex;
     justify-content: center;
     align-items: center;
 }

#video a {
    color: white;
   
}

#video1 a {
    color: white;
   
}


#video1 a:hover {
    color: black;
   
}

#video a:hover {
    color: black;
   
}


#texto1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#play {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#play:hover {
    
    background-color: white;
}

#btnplay {
    width: 190px;
}

#inline {
    display: none;
}

#btnBaixar1 {
    margin-left: 70%;
    width: 20%;
}

#btnBaixar {
    margin-top: 15px;
    margin-left: 10%;
    width: 20%;
}

#form1 {
    width: 400px;
    margin-left: 40%;
}

#paic {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

#fi1 {
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

#fi2 {
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#img1 {
    background-image: url(/imagens/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#img1:hover {
    #mp4 {
        display: block;
    }
}

#img2 {
    background-image: url(/imagens/3war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#img2:hover {
    #mp4 {
        display: block;
    }
}

#img3 {
    background-image: url(/imagens/4war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#img3:hover {
    #mp4 {
        display: block;
    }
}

#img4 {
    background-image: url(/imagens/5war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#img4:hover {
    #mp4 {
        display: block;
    }
}

#imag1 {
    background-image: url(/imagens/7war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#imag1:hover {
    #mp4 {
        display: block;
    }
}


#imag2 {
    background-image: url(/imagens/cold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#imag3 {
    background-image: url(/imagens/10war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#imag4 {
    background-image: url(/imagens/7war.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}

#mp4 {
    display: none;
    width: 100%;
    height: 100%;


}


@media (max-width: 737px) {
    #video {
        
        margin-top: 10px;
        
     }

     #texto1 {
        display: none;
     }

     #inline{
        display: inline-block;
     }


     #video1{
        display: none;
     }

     #none{
        display: none;
     }

     #btnBaixar {
        margin-top: 15px;
        margin-left:5%;
       
        width: 90%;
    }

    #btnBaixar1 {
        display: none;
    }

    #form {
        display: none;
    }

    #form1 {
       display: none;
    }
    
    
     
}